@model IEnumerable<NSS.CMS.Models.News>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Responsive Hover Table</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Slug)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LinkAffiliate)
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    <img src="@item.Images" class="img-thumb" />
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    <a href="https://nghiensansale.vn/blog-khuyen-mai/@item.Slug" target="_blank">@item.Slug</a>
                                </td>
                                <td>
                                    <a href="@item.LinkAffiliate" target="_blank">@item.LinkAffiliate</a>
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
